
body {
  margin: 100;
  background-image: url("../pictures/vantaa.jpg") !important; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
}
img {
  width: 100%;
}

/*----ID----*/
#nav {
  width: 80%;
  margin:  1% 10%;
  background-color: #f2f2f2;
  border-bottom: solid 8px #525564;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #ccc;
  position: absolute;
  top: 0;
}

#title {
  color: black;
  margin: 0;
  font-family: "Baloo Bhaina";
  text-transform: uppercase;
}

#nav a {
  text-decoration: none;
}

#navbarButtons{
  float:right;
  position:relative;
  left:-50%;
  text-align:left;
}
#navbarButtons ul{
  list-style:none;
  position:relative;
  left:50%;
}
#fetchInfoDiv{
  font-weight: 500;
  border-radius: 20px;
  border-color: #000;
  background-color: #9c9fb1;
  padding: 2%;
}
#infoDiv{
  font-weight: 500;
  background-color: #aaa;
  padding: 2%;
}
/*----CLASSES----*/
.nav-align {
  text-align: center;
  padding: 3px 0;
}

.container {
  padding: 2% 10%;
  background-color: rgba(220, 220, 220, 0.85);
  border-radius: 25px;
  margin-top: 3%;
}

.button {
  background-color: #74828F;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}

.button:hover {
  background-color: #BEB9B5;
}

.reservation-form input {
  display: block;
}

.contact-listing {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #000;
  display: inline-block;
}

.contact-container{
  background: #aaa;
}

.location {
  padding: 5px;
}
.row{
  padding: 2% 5%;
}
.textAlignCenter{
  text-align: center;
}
.navbarButtons li{
  float:left;
  position:relative;
}
.marginAuto{
  margin:auto;
}


